li {
  display: flex;
  align-items: center;
  gap: 1rem;
  
  padding: 1rem;

  cursor: grab;

  &.item {
    border-bottom: 1px solid var(--border-bottom-color);
  }

  .todo-content {
    text-align: left;
    flex-grow: 1;
    line-height: normal;
  }
  
}


.item.completed {
  .todo-content {
    text-decoration: line-through;
    color: hsl(234, 11%, 52%);
  }
}