main {
  text-align: center;
  padding: 0 2rem;
}

.create-todo {
  display: flex;
  gap: 1rem;

  padding: 1rem;

  border-radius: 0.5rem;

  background-color: var(--main-color);

  
}

.active {
  color:  hsl(220, 98%, 61%);
}
