@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;

  font-family: 'Josefin Sans', sans-serif;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: hsl(234, 39%, 85%);
  background-color: hsl(235, 21%, 11%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 375px;
  min-height: 100vh;

  background-image: url('src/assets/bg-mobile-dark.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  margin: 0;
}

button {
  width: inherit;
  height: inherit;

  cursor: pointer;
  color: inherit;
  background: none;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color:  hsl(0, 0%, 98%);
  }
  a:hover {
    color: #747bff;
  }
}

@media screen and (min-width: 380px) {
  body {
    background-image: url('src/assets/bg-desktop-dark.jpg');
  }
}
